services:
  # Python Backend Service
  - type: web
    name: pds-backend
    runtime: docker
    rootDir: backend
    plan: free
    envVars:
      - key: PORT
        value: "8000"
      - key: PYTHON_VERSION
        value: 3.10.0
